.text-bg-title {
    color: #fff!important;
    background-color: RGBA(43, 47, 51, var(--bs-bg-opacity, 1));
!important
}

.message-time {
    font-size: x-small;
    margin-left: 3px;
    margin-right: 3px;
}

.message-text {
    margin-left: 3px;
    margin-right: 3px;
}

.message {
    width: 100%;
    color: #719eff;
    float: left;
    text-align: left;
}
.message > div { width: auto; float: left; }
.message > div > .message-time { float: left; }
.message > div > .message-text { float: right; }

.my-message {
    color: #C623FF;
    float: right;
    text-align: right;
}
.my-message > div { width: auto; float: right; }
.my-message > div > .message-time { float: right; }
.my-message > div > .message-text { float: left; }

.choose-dialog-label {
    border: 1px solid white;
    border-radius: 20px;
    padding: 7px;
    user-select: none;
}