.content-feedback {
    height: 90vh;
    background-color: rgb(var(--bg-color-rgb), .6);
    padding: 16px 1% 12px !important;
}

.content-feedback:hover {
    background-color: rgb(var(--bg-color-rgb), .85);;
}

#video1 {
    grid-row-start: 2;
    grid-column-start: 2;

    grid-row-end: 5;
    grid-column-end: 5;
}

#video2 {
    grid-row-start: 2;
    grid-column-start: 12;

    grid-row-end: 5;
    grid-column-end: 15;
}

#iframe1 {
    grid-row-start: 2;
    grid-column-start: 6;

    grid-row-end: 5;
    grid-column-end: 11;
}

#video1 > video, #video2 > video, #iframe1 > iframe {
    object-fit: cover;
    object-position: center;
    display:block;

    width:100%;
    height:100%;
    background-color: #000;
}

.feedback-form > form > * {
    padding-left: 10px;
    background-color: var(--bg-color-messages);
    border: 1px solid;
    border-image: linear-gradient(to top, var(--gradient-1), var(--gradient-2)) 1;
    color: var(--text-color);
    width: 100%;
    margin-top: 20px;
}

.feedback-form > form > input {
    font-size: 28px;
}

.feedback-form > form > textarea {
    font-size: 18px;
}

.feedback-form {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 10px;

    display: grid;
    grid-row-start: 6 !important;
    grid-column-start: 2;

    grid-row-end: 15 !important;
    grid-column-end: 15 !important;
}