<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="IdkChat - simple and minimalistic chat app.">
    <meta name="keywords" content="idkchat,chat,simple,minimalistic,real-time">
    <meta name="author" content="RuslanUC">
    <title>IdkChat - Feedback</title>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <link rel="stylesheet" type="text/css" href="/static/css/feedback.css">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <script src="/static/js/theme.js"></script>
</head>
<body class="theme-dark">
<main class="content content-feedback grid-container">
    <div id="video1">
        <video controls muted>
            <source src="/video/sample_video_30s.mp4">
        </video>
    </div>

    <div id="iframe1">
        <iframe src="https://www.youtube.com/embed/6RU_sdBwrR8" title="YouTube iframe" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>

    <div id="video2">
        <video controls muted>
            <source src="/video/sample_video_30s.mp4">
        </video>
    </div>

    <div class="feedback-form">
        <form method="POST" action="https://formspree.io/f/mjvdjaqr" style="display: grid">
            <input type="text" minlength="4" maxlength="32" name="name" id="feedback-name" placeholder="Name" required>
            <input type="email" minlength="6" maxlength="64" name="_replyto" id="feedback-email" placeholder="Email" required>
            <input type="tel" minlength="12" maxlength="12" name="phone" id="feedback-phone" placeholder="Phone number (380XXXXXXXXX)">
            <textarea rows="6" name="message" id="feedback-message" placeholder="Message" required></textarea>
            <input type="submit" value="Send">
        </form>
    </div>
</main>
<footer class="footer text-center">
    <p>IdkChat 2022</p>
    Support: <a href="mailto:idkchat@pepega.ml">idkchat@pepega.ml</a>
</footer>
</body>
</html>