<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="IdkChat - simple and minimalistic chat app.">
    <meta name="keywords" content="idkchat,chat,simple,minimalistic,real-time">
    <meta name="author" content="RuslanUC">
    <title>IdkChat</title>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <script src="/static/js/main.js"></script>
    <script src="/static/js/theme.js"></script>
</head>
<body class="theme-dark">
    <header>
        <div class="nav">
            <nav>
                <b><a href="/" class="nav-item">Головна</a></b>
                <b><a href="/auth" class="nav-item">Вхід</a></b>
                <b><a href="/dialogs" class="nav-item">Мої діалоги</a></b>
                <b><a href="/profile" class="nav-item">Профіль</a></b>
                <b><a href="/feedback" class="nav-item">Зворотній зв'язок</a></b>
            </nav>
        </div>
    </header>
    <main class="content">
        <h1 style="color: var(--dark-text-color);">
            <b>IdkChat</b> - найпростіший чат, який можна собі уявити
        </h1>
        <article>
            <section>
                <h3>Чому <b>IdkChat</b>?</h3>
                <p>
                    <b>IdkChat</b> - це дуже простий, мінімалістичний чат, який працює безпосередньо у вашому браузері, не вимагаючи встановлення або додаткового програмного забезпечення. Інтерфейс чистий і зрозумілий.
                    Всі повідомлення відображаються в режимі реального часу.
                </p>
                <aside class="right border">
                    <p>
                        Факт: <b>IdkChat</b> настільки простий, що навіть над назвою не було багато думок: Idk - з англійської (i don't know) - не знаю.
                    </p>
                </aside>
                <p>
                    <b>IdkChat</b> не має розширених функцій, таких як обмін файлами, емодзі або групові чати. Замість цього він зосереджений на наданні простого та інтуїтивно зрозумілого інтерфейсу для користувачів, які просто хочуть спілкуватися з іншими у простий та ефективний спосіб.
                </p>
                <p>
                    <b>IdkChat</b> також дозволяє вам налаштувати зовнішній вигляд вікна чату, вибравши одну з декількох різних тем. Ви можете перемикати світлий або темний режим для фону і тексту, натиснувши круглу кнопку в нижньому правому куті.
                </p>
                <p>
                    Одним з унікальних аспектів <b>IdkChat</b> є те, що він повністю відкритий і доступний на <a href="https://github.com/ArRuslan/HtHm-Lab">GitHub</a>, а це означає, що будь-хто може переглядати і змінювати код. Це робить його ідеальним вибором для розробників, які хочуть налаштувати чат-додаток під свої конкретні потреби або інтегрувати його у власні проекти.
                </p>
                <p>
                    Хоча <b>IdkChat</b> розроблений, щоб бути простим і легким у використанні, він також є безпечним і орієнтованим на конфіденційність. Всі повідомлення надсилаються через зашифроване з'єднання, і жодна особиста інформація або дані користувачів не збираються.
                </p>
                <!--<aside class="right border">
                    <p>
                        Факт: <b>IdkChat</b> використовує шифрування AES-256 для всіх текстових повідомлень.
                    </p>
                </aside>-->
                <p>
                    Загалом, <b>IdkChat</b> - чудовий вибір для тих, кому потрібен мінімалістичний чат-додаток, простий у використанні, який не потребує жодних технічних знань чи інсталяції.
                </p>
            </section>
        </article>
    </main>
    <footer class="footer text-center">
        <p>IdkChat 2022</p>
        Support: <a href="mailto:idkchat@pepega.ml">idkchat@pepega.ml</a>
    </footer>
</body>

<!-- Лб2
    Завдання – Блок 1 (всі)
    1.
+       Розташуйте ваш контент на сторінках з лабораторної роботи №1 згідно концепції CSS Grid Layout (повинна бути виконана без зміни структури HTML-документа)
    2.
-       Модифікувати CSS-файл згідно з БЕМ-методологією

    Завдання – Блок 2 (всі)
    1.
?       Реалізувати додаткову сторінку зі структурою, що надасть викладач, використовуючи CSS Grid Layout.
    2.
?       Виконати умови щодо відображення сторінки із попереднього завдання на мобільних пристроях з різною орієнтацією екрана.
    3.
+       У будь-якому з куточків сторінки розмістити fixed елемент, який деформується при наведенні на нього мишкою.


    Завдання – Блок 3 (2)
    1.
-       За допомогою медіа-запитів та СSS організуйте відображення навігаційного меню, як “sandwich” для девайсів з шириною екрана 320px.
    2.
-       За допомогою CSS створіть галерею з анімацією зображень (наприклад, при наведенні мишею на зображення — воно збільшується та стає насиченішим) та встановіть для зображень додаткові стильові рішення для забезпечення їх адаптивності.
    3.
-       Хлібні крихти - додати сторінку як показано на рисунку нижче. Документ повинен коректно відображатися у всіх сучасних браузерах, в IE8 і нижче.
    4.
-       За допомогою CSS створити індикатор прогресу.
    5.
-       Створити стилізовані чек-бокси, використовуючи HTML і CSS.
    6.
-       Створити блок з тінню фіксованого розміру, в якому відображається картинка з тінню. Код повинен коректно працювати у всіх сучасних браузерах.
    7.
-       Створити простий годинник з рухомими стрілками, використовуючи HTML і CSS-анімацію. Для наочності можна збільшити швидкість руху стрілки.
    8.
-       Зобразити спіраль, використовуючи HTML і CSS.
    9.
-       Створити акордеон з перемикаючими вкладками без використання JavaScript.

-->

</html>