asgiref~=3.6.0
Django~=4.2.1
djangorestframework~=3.14.0
simplesrp~=1.0.0b1
channels~=4.0.0
daphne~=4.0.0
channels-redis~=4.1.0
Pillow~=9.5.0
django-storages~=1.13.2
boto3~=1.26.147
drf-extra-fields~=3.5.0